/* universal styles */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  overflow-x: hidden;
  background-color: black;
  color: white;
  opacity: 0.9;
}

/* navbar */

nav {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0.50rem;
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: black;
  opacity: 0.8;
}

.title,
.nav-items,
.social-media {
  width: 30%;
}

.title {
  font-size: 2rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.nav-items ul {
  display: flex;
  justify-content: center;
}

ul li {
  list-style: none;
  padding: 0.5rem;
  font-size: 1.3rem;
  margin: 0 1.5rem;
}

ul li a {
  list-style: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.social-media {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.social-media span {
  margin: 0.5rem;
}

/* media queries for navbar */
@media screen and (max-width: 750px) {
  nav {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .title,
  .nav-items,
  .social-media {
    width: 100%;
  }

  .title {
    font-size: 1.5rem;
    text-align: center;
  }

  .social-media {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 450px) {
  nav {
    flex-direction: column;
    width: 100%;
    position: absolute;
  }

  .title {
    font-size: 1.5rem;
    text-align: center;
  }

  .nav-items ul {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
  }
}


/* banner */

.banner {
    position: relative;
    background-image: url(./background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(0.5px);
  }
  
  h1 {
    color: white;
    font-size: 5rem;
    text-transform: capitalize;
  }
  
  /* media queries for banner */
  
  @media screen and (max-width: 750px) {
    .banner {
      width: 100%;
      min-height: 30rem;
    }
  
    h1 {
        margin-top: 2rem;
      font-size: 3rem;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 350px) {
  
      .banner {
          width: 110%;
      }
  
  
    h1 {
      margin-top: 2rem;
      font-size: 2rem;
      text-align: center;
    }
  }


  /* gallery */

  .gallery-title {
    font-size: 2rem;
    padding: 2rem 0;
    margin-left: 1rem;
}


.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem;
}

.image-container img {
    width: 24%;
    height: 30rem;
    transition: transform 1s;
}

.image-container img:hover {
    cursor: pointer;
    transform: scale(1.1);
}


/* gallery media queries */

@media screen and (max-width: 750px) {
    
    .gallery-title {
        font-size: 1.5rem;
        text-align: center;
    }

   

    .image-container img {
        width: 50%;
        opacity: 1;
        margin: 0.5rem 0;
        cursor: pointer;
    
    }


}

@media screen and (max-width: 350px) {

.gallery-title {
    font-size: 1rem;
    text-align: center;
}

.image-container {
    justify-content: center;
    width: 100%;
}

.image-container img {
    width: 100%;
   

}



}