/* universal styles */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  overflow-x: hidden;
}


/* banner */

.banner {
  position: relative;
  background-image: url(./background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(0.5px);
}

h1 {
  color: white;
  font-size: 5rem;
  text-transform: capitalize;
}

/* media queries for banner */

@media screen and (max-width: 750px) {
  .banner {
    width: 100%;
    min-height: 30rem;
  }

  h1 {
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .banner {
    width: 110%;
  }

  h1 {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
  }
}

/* gallery */

.gallery-title {
  font-size: 2rem;
  padding: 2rem 0;
  margin-left: 1rem;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem;
}

.image-container img {
  width: 24%;
  height: 30rem;
  transition: transform 1s;
}

.image-container img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* gallery media queries */

@media screen and (max-width: 750px) {
  .gallery-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .image-container img {
    width: 50%;
    opacity: 1;
    margin: 0.5rem 0;
    cursor: pointer;
  }
}

@media screen and (max-width: 450px) {
  .gallery-title {
    font-size: 1rem;
    text-align: center;
  }

  .image-container {
    justify-content: center;
    width: 100%;
  }

  .image-container img {
    width: 100%;
  }
}

/* about me */

.about-me {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.about-content {
  width: 50%;
  margin-top: 3rem;
}

.about-content h2 {
  font-size: 3rem;
  margin: 1rem;
  text-transform: uppercase;
}

.about-content p {
  margin: 1rem;
  line-height: 1.5rem;
  word-spacing: 0.1rem;
}

.about-img {
  margin-top: 3rem;
}

.about-img img {
  width: 25rem;
  height: 30rem;
  cursor: pointer;
}

/* media queries for about me */

@media screen and (max-width: 750px) {
  .about-me {
    width: 95%;
  }

  .about-content {
    height: 30rem;
    overflow: hidden;
    margin: 0;
  }

  .about-content h2 {
    font-size: 2.5rem;
  }

  .about-img img {
    width: 20rem;
    height: 25rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 450px) {
  .about-me {
    flex-direction: column-reverse;
    width: 100%;
  }

  .about-content {
    overflow: visible;
    width: 25rem;
  }

  .about-img img {
    width: 25rem;
  }
}

/* contact */

.form-container {
  background-image: url(./background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 4rem;
  border-radius: 0.25rem;
  padding: 2.25rem;
}

.form-container h2 {
  color: white;
  width: 80%;
  margin: 1rem auto;
}

label {
  color: white;
}

form {
  width: 80%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  resize: vertical;
}

input[type="submit"] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

@media screen and (max-width: 450px) {
  .form-container {
    margin-top: 10rem;
  }
}
